<div id="upgrade-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Subscription Limit</h3>
  </div>
  <div class="modal-body">
    <p>You can only have 1 spec with a free plan. Upgrade for unlimited Specs.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= link_to "Upgrade Plan", new_charge_path, class: "btn btn-primary" %>
  </div>
</div>