.container
  .hero-unit
    .main-content
      %h1{ :style => "margin-bottom: 20px" } Specs
      %p= link_to "New Spec",  new_page_path, :class => "btn btn-primary"
      .row-fluid.page-list
        - @pages.each do |page|
          .page
            = link_to page.name, page_items_path(page)