.container
  .hero-unit
    .main-content
      %h1{ :style => "margin-bottom: 20px" } Specs
      %p
        - if current_user.can_add_page?
          = link_to "New Spec",  new_page_path, :class => "btn btn-primary"
        - else
          = link_to "New Spec", "#upgrade-modal", data: {toggle: "modal"}, :class => "btn btn-primary"
          = render partial: "pages/upgrade_modal"
      .row-fluid.page-list
        - @pages.each do |page|
          .page
            = link_to page.name, page_items_path(page)