%h1
  = @page.name
.row-fluid.actions-container
  = link_to "Edit", edit_page_path(@page), remote: true
  = link_to "Delete", page_path(@page), method: :delete, confirm: "Are you sure you want to delete this page?"