.spec_page
  .spec-content
    .row-fluid
      %h1
        = @page.name

    .row-fluid.page-content
      %ul.item-list
        - @list_items.each do |single_item|
          = render partial: "item_read_only", locals: {item: single_item}
