@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

.navbar{
  margin-bottom: 0px;
}

.container-fluid{
  padding: 0;
}

.icon-move{
  background-position: -163px -68px;
  width: 18px;
  height: 18px;
}

.hide {
  display: none;
}

form, .item-list {
  li {
    list-style: none;
    .textile {
      ul {
        margin: 0 0 10px 25px;
        li {
          list-style: disc;
        }
      }
    }
  }
}

ul {
  margin: 0;
}

.page-content {
  padding-left: 20px;
}

.cancel {
  margin-left: 10px;
}

.main-content {
  text-align: center;
}

.hero-unit {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.page-list {
  font-size: 50px;
  line-height: 60px;
}

.spec_page {
  background: #2C3E50;
}

.spec-content {
  width: 70%;
  margin: auto;
  background-color: #344953;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.blue-band {
  position: relative;
  background: #21303F;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  top: 23px;
  .cancel-item-container {
    color: red;
    margin-right: 55px;
    position: absolute;
    background: #21303F;
    width: 99px;
    height: 30px;
    left: -105px;
    top: 0px;
    line-height: 30px;
    font-size: 12px;
    padding-left: 7px;
  }
}

.page-name {
  position: relative;
  .actions-container{
    top: 4px;
    left: -141px;
  }
}

.actions-container {
  position: absolute;
  left: -112px;
  display: none;
  background: #344953;
  width: 119px;
  padding: 5px 10px;
  z-index: 100;
  cursor: pointer;
  .icon-move {
    cursor: move;
  }
  @include border-radius(15px);
  i {
    display: inline-block;
  }
}

.item {
  position: relative;
  margin-top: 35px;
  .item-wrapper {
    .insert-item-container, .edit-form {
      .front-end-container {
        position: relative;
        &.back-end-empty{
          .control-label {
            display: none;
          }
        }
        .add-backend {
          position: absolute;
          right: 0;
          bottom: 115px;
        }
      }
      .blue-band {
        display: none;
      }
    }
  }
  .add-here {
    position: relative;
    .prompt-container {
      position: absolute;
      width: 200px;
      height: 20px;
      left: -100px;
      z-index: 100;
      .prompt {
        background: black;
        opacity: 0.6;
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
        @include border-radius(15px);
        text-align: center;
        float: left;
        width: 80px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
      }
      .line {
        height: 1px;
        width: 80px;
        border-bottom: 1px dashed black;
        float: left;
        margin-top: 14px;
      }
      &:hover {
        .prompt-marker {
          display: block;
        }
      }
      .prompt-marker {
        display: none;
      }
    }
  }
  &.blue-band-visible {
    .add-here {
      .prompt-container {
        &:hover {
          .prompt-marker {
            display: none;
          }
        }
      }
    }
  }
}

.feature-item {
  padding-top: 0px;
  /* background-color: #FCFCFC; */
  margin-right: -10px;
  padding-right: 10px;
  margin-left: -50px;
  padding-left: 50px;
  /*box-shadow: 2px 2px 5px #888888; */
  .actions-container {
    top: 8px;
  }
  .title{
    margin-left: -20px;
  }
}

.divider-item {
  .item-wrapper .actions-container {
    top: 4px;
    left: -161px;
  }
}

.divider {
  position: relative;
  .divider-line {
    position: relative;
    border-bottom: 1px solid;
    border-bottom-color:#95A5A6;
    width: 100%;
    height: 1px;
    z-index: 1;
    bottom: 20px;
    left: -50px;
    padding-right: 60px;
  }
  .title {
    z-index: 2;
    display: inline-block;
    background: #344953;
    position: relative;
    margin: 0;
    padding: 0 10px;
    left: -30px;
  }
}





