// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.public-wrapper {

  background-color: #2C3E50;
  color: #2C3E50;

  .demo-logo {
    color: #BDC3C7;
    margin-bottom: 36px;
    .logo {
      background: url(icon.png) center 0 no-repeat;
      background-size: 261px 113px;
      height: 114px;
    }
  }

  .demo-headline {
    padding-bottom: 0px;

  }

  .demo-logo small {
    color: #999999;
  }

  .btn.btn-start-spec {
    background-color: #16A085;
  }

  .how-it-works {
    background-color: #16A085;
  }

  footer a {
    color: #16A085;
  }

  .imac {
    background: url(imac.png) 0 0 no-repeat;
    width: 940px;
    height: 778px;
    margin: 0 auto;
    color: #BDC3C7;
    position: relative;
  }

  .public-content {
    width: 100%;
  }

  .how-it-works {
    background-color: #7F8C8D;
    a {
      color: #E9FAF6
    }

  }

  footer {
  }

  .button {
    width: 20%;
    margin: 0 auto;
  }

  .container {
    width: 940px;
  }
}