<div class="public-wrapper">
  <div class="container">
    <div class="demo-headline">
      <h1 class="demo-logo">
        <div class="logo">
        </div>
        SPEC.PM
        <small>A Simple Spec Writer for Product Managers</small>
      </h1>
      <div class="button">
        <a href="/pages" class="btn btn-large btn-block btn-start-spec">Start A Spec</a>
      </div>
    </div>
    <!-- /demo-headline -->


    <div class="imac"></div>
  </div>


  <div class="how-it-works">
    <div class="container">
      <h1>How To Write A Spec</h1>

      <p>A spec is made up of features</p>
      <img src="images/screenshots/SpecWriter.jpg" alt="spec.pm feature">

      <h2>Adding a feature</h2>

      <p>When you add a feature, it's pre-populated with three sections. User Story, Logic, and Acceptance Criteria.
        Learn more about what to put in these sections.</p>
      <img src="images/screenshots/feature.jpg" alt="spec.pm feature">

      <h2>Splitting Frontend & Backend</h2>

      <p>To split your feature into Frontend and Backend, click the + Backend link. This is useful when you have
        separate frontend and backend developers, especially when doing mobile development. Even if you have full
        stack developers, there are many benefits to writing specs in this format. Learn more about that here.</p>
      <img src="images/screenshots/fandb.jpg" alt="spec.pm frontend and backend">

      <h2>Rearranging</h2>

      <p>You can drag and drop features around the page. A spec is like a story you are telling your developer. Order
        your features in a way that allows someone to fully grasp how all the features work together.</p>
      <img src="images/screenshots/drag.jpg">

      <h2>Insert Features</h2>

      <p>You can insert a new feature anywhere in the spec by hovering over the place where you want it to appear.</p>
      <img src="images/screenshots/insert.jpg">

      <h2>Dividers</h2>

      <p>A features should be small. A developer should be able to easily complete it in a day or less. If one feature
        is becoming very long, there is a good chance that it should be broken up into multiple features. Add
        dividers to group related features together.</p>
      <img src="images/screenshots/divider.jpg">
    </div>
  </div>

  <footer>
    <div class="container">
    <h2>About SPEC.PM</h2>

    <p>This app is largely based on 37 Signals Backpack. A phenomenal product that was <a
    href="http://37signals.com/backpack-retired">recently shut down to new users.</a>

      I use Backpack for all my spec writing, and I am worried that they will eventually shut down my account. I
      need a replacement, so I built Spec.pm.<br><br>

      I also teach a class on Product Management, and built Spec.pm to be a teaching aide for new product managers
      as well as a functional utility. I hope it helps you to get where you are trying to go.<br><br>

      Feedback is welcome. The <a href="https://github.com/jschwa/spec_writer">Github repo for this project is
      here</a> if you wish to make modifications.<br><br>

      <strong>Credits</strong><br>
      Framework: <a href="http://getbootstrap.com/2.3.2/">Bootstrap</a><br>
      UI Framework: <a href="http://designmodo.github.io/Flat-UI/">Flat UI</a><br><br>

      By <a href="http://jschwa.com">Jason Schwartz</a>
    </p>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img
    alt="Creative Commons License" style="border-width:0"
    src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/></a><br/><span
  xmlns:dct="http://purl.org/dc/terms/" property="dct:title">spec.pm</span> by <a
  xmlns:cc="http://creativecommons.org/ns#" href="http://spec.pm" property="cc:attributionName"
  rel="cc:attributionURL">Jason Schwartz</a> is licensed under a <a rel="license"
                                                                    href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative
    Commons Attribution-ShareAlike 3.0 Unported License</a>.
      </div>
  </footer>
</div>