<div class="public-wrapper" xmlns="http://www.w3.org/1999/html">
  <% content_for :title do %>Spec Writer For Product Managers - SPEC.PM
  <% end %>
  <div class="container">
    <div class="demo-headline">
      <h1 class="demo-logo">
        <div class="logo">
        </div>
        SPEC.PM
        <small>A Simple Spec Writer for Product Managers</small>
      </h1>
    </div>

    <div class="row span8 plans">
      <div class="span2 well">
        <div class="plan"><h2>Free</h2></div>
        <ul class="unstyled">
          <li>1 Spec</li>
        </ul>
        <%= link_to 'Try writing a spec', pages_path, :class => 'btn btn-primary' %>
      </div>

      <div class="span2 well featured">
        <div class="plan featured-plan"><h2>Unlimited</h2></div>
        <ul class="unstyled">
          <li> Unlimted specs for $9.99/month</li>
        </ul>
        <script src="https://checkout.stripe.com/v2/checkout.js"></script>

        <button id="customButton" class="btn btn-primary">Write specs like a pro</button>

        <script>
            $('#customButton').click(function(){
                var token = function(res){
                    var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                    $('form').append($input).submit();
                };

                StripeCheckout.open({
                    key:         'pk_test_mFefZYeh04QA4rQztdmq22Vy',
                    address:     false,
                    amount:      999,
                    currency:    'usd',
                    name:        'Spec.pm',
                    description: 'Unlimited',
                    panelLabel:  'Subscribe',
                    token:       token
                });

                return false;
            });
        </script>
      </div>
    </div>
  </div>
</div>


